<header class="bg-rose-200 shadow">
  <div class="flex flex-wrap place-items-center">
    <section class="relative mx-auto">
      <!-- navbar -->
      <nav class="flex justify-between bg-rose-500 text-white w-screen">
        <div class="px-5 xl:px-12 py-6 flex w-full items-center">
          <div class="flex-col">
            <p class="text-cyan-50 font-bold text-xl ">Bienvenido</p>
            <p class="text-cyan-50 text-xl "><span class="italic text-lg font-semibold">{{this.nameUser}}</span> </p>
          </div>
          <!-- Nav Links -->
          <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12 ">
            <li><a class="hover:text-gray-200 font-bold"  routerLink = "/home/main"
                   routerLinkActive = "active">Home 🐶</a></li>
            <li><a class="hover:text-gray-200"  routerLink="/home/registerdog">Mis Registros</a></li>
            <li><a class="hover:text-gray-200" routerLink = "/home/adoption"
                   routerLinkActive = "active">Mis adopciones</a></li>
          </ul>
          <!-- Header Icons -->
          <div class="hidden xl:flex items-center space-x-5 items-center">

            <!-- Sign In / Register      -->
            <a (click)="logout()" class="flex items-center hover:text-gray-200" >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </a>

          </div>
        </div>
        <!-- Responsive navbar -->
        <button (click)="toggleMenu()" class="navbar-burger self-center mr-12 xl:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </nav>

    </section>
    @if(this.menuVisibleResponsive){
      <div class="space-y-1 border-t pb-3 pt-2 xl:hidden">
        <a
          (click)="toggleMenu()"
          routerLink = "/home/main"
          routerLinkActive = "active"
          class="block px-3 py-2 rounded-2xl font-semibold text-lg text-purple-900 transition-colors hover:text-white hover:bg-rose-500 hover:rounded">
          Home 🐶</a
        >
        <a
          (click)="toggleMenu()"
          routerLink = "/home/registerdog"
          routerLinkActive = "active"
          class="block px-3 py-2 rounded-2xl font-semibold text-lg text-purple-900 transition-colors hover:text-white hover:bg-rose-500 hover:rounded">
          Mis Registros</a
        >
        <a
          (click)="toggleMenu()"
          routerLink = "/home/adoption"
          routerLinkActive = "active"
          class="block px-3 py-2 rounded-2xl font-semibold text-lg text-purple-900 transition-colors hover:text-white hover:bg-rose-500 hover:rounded">
          Mis adopciones</a
        >
        <a
          (click)="logout()"
          class="block px-3 py-2 rounded-2xl font-semibold text-lg text-purple-900 transition-colors hover:text-white hover:bg-rose-500 hover:rounded"
        >
          Logout</a
        >
      </div>
    }

  </div>
</header>

