
<!-- component -->
<div class="min-h-screen p-6 bg-gray-100 flex justify-center ">
  <div class="container max-w-screen-lg mt-24 mx-auto">
    @if(!this.showUploadImage){
      <form [formGroup]="registerForm">
        <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
            <div class="text-gray-600">
              <p class="font-medium text-lg">Detalles de la mascota</p>
            </div>
            <div class="text-gray-600">
              <p class="font-medium text-lg">Detalles de la mascota</p>
            </div>
            <div class="lg:col-span-2">
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                <div class="md:col-span-3">
                  <label for="full_name" class="font-medium">Name</label>
                  <input type="text" name="full_name" id="full_name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" formControlName="namePet" placeholder="Firulais" />
                </div>

                <div class="md:col-span-3">
                  <label for="email"  class="font-medium">Age</label>
                  <input type="text" name="email" id="email" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="3" formControlName="agePet"/>
                </div>

                <div class="md:col-span-3">
                  <label for="address"  class="font-medium">Raza</label>
                  <input type="text" name="address" id="address" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="Dalmatian" formControlName="razePet"/>
                </div>

                <div class="md:col-span-2">
                  <label for="countries" class="block mb-2 text-sm font-medium text-black">Tamaño</label>

                  <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " formControlName="sizePet">
                    <option selected disabled>Elije un tamaño</option>
                    <option value="PEQUEÑO">Pequeño</option>
                    <option value="MEDIANO">Mediano</option>
                    <option value="GRANDE">Grande</option>

                  </select>
                </div>
                <div class="md:col-span-3">
                  <label for="type"  class="font-medium">Tipo de Mascota</label>
                  <input type="text" name="city" id="type" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="Perro | Gato " formControlName="petTypePet" />
                </div>
                <div class="md:col-span-2">
                  <label for="phone"  class="font-medium">Numero de Contacto</label>
                  <input type="text" name="city" id="phone" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="09999999999" formControlName="contactPet" />
                </div>
                <div class="md:col-span-5">
                  <label for="description"  class="font-medium">Descripción</label>
                  <textarea name="description" id="description" class="border mt-1 rounded px-4 w-full bg-gray-50" rows="4" placeholder="Nos ....." formControlName="descriptionPet" > </textarea>
                </div>




                <div class="md:col-span-5 text-right">
                  <div class="inline-flex items-end">
                    <button (click)="registerPet()" class="bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded">Register</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </form>
    }

  </div>
</div>

@if(this.showUploadImage){

  <!-- component -->
  <div class="fixed z-10 top-0 w-full h-full flex bg-black bg-opacity-60">
    <div class="extraOutline p-4 bg-white w-max  m-auto rounded-lg">
      <div class="file_upload p-5 relative border-4 border-dotted border-indigo-400 rounded-lg" style="width: 450px">

        <svg class="text-rose-500 w-24 mx-auto mb-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" /></svg>
        <div class="input_field flex flex-col w-max mx-auto text-center">
          <label>
            <input (change)="registerImageForPet($event)" class="text-sm cursor-pointer bg hidden"  accept="image/" type="file" />
            <div  class="text bg-rose-400 text-white border border-gray-300 rounded font-semibold cursor-pointer p-1 px-3 hover:bg-rose-500">Subir Image</div>
          </label>
          <div class="title mt-2  items-center text-indigo-500 justify-center underline font-bold italic ">"Sube una Foto de la mascota <span class="uppercase">Max 2MB</span></div>
        </div>
      </div>
    </div>
  </div>
}
